@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    
    text-decoration: none;
}

body{
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
}

:root{
    --amarelo: #FCBF02;
    --cinza-clarinho: #F8F8F8;
}

  .comentarios{
    gap: 20px;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 20vw);
    grid-auto-rows: auto;
    overflow: hidden;
    width: 100%;
  }

  .container_comentario{
    padding: 25px;
    margin-top: 50px;
    background-color: var(--cinza-clarinho);
    border-radius: 30px;
    position: relative;
  }
  .icone-google {
    position: absolute;
    top: 50px;
    left: 50px;
    
  }
  .mes{
    position: relative;
    display: inline-block;
  }

  .mes span{
    color: #BCBCBC;
  }

  .flex_icon{
    display: flex;
  }
  
  .icone-google .balao{
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .icone-google .balao::after{
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  .icone-google:hover .balao{
    visibility: visible;
    opacity: 1;
  }
  
  .google{
    width: auto;
    height: 20px;
    background-color: var(--cinza-clarinho);
    padding: 2px;
    border-radius: 50%;
  }
  
  .foto{
    position: relative;
  }

  .informacao{
    display: flex;
    margin-bottom: 5px;
  }

  .informacao h3{
    color: #111111;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .referencia{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }
  .base{
    margin-left: 13px;
  }
  .informacao img{
    width: auto;
    height: 15px;
    margin-left: 5px;
  }

  .informacao a:hover{
    text-decoration: 1px underline #111111;
  }
  
  .fa-star{
    width: auto;
    height: 17px;
    color: var(--amarelo) ;
  }

  .avaliacao i{
    margin-bottom: 7px;
  }

  .container_comentario p{
    font: normal 18px 'Arial', sans-serif;
    color:#111111 ;
    line-height: 1.5em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  