@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Allura & family= Aref+Ruqaa+Ink:wght@400;700 & family= Cookie & family= Roboto:wght@300; 400;700 & display=swap');
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Livvic:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--Roboto);
    line-height: 1.5em;
}

body {
    width: 100%;
    overflow-x: hidden;
}

:root {
    /* Variáveis da cor azul */
    --azure: #E8F1F3;
    --carolina_blue: #1C9CD7;
    --celadon_blue: #247BA0;
    --sapphire_blue: #014990;
    --prussian_blue: #002F5B;
    --índigo_blue: #001030;
    --space: #010b1c;

    /* Variável da cor vermelha */
    --medium_red: #A20202;

    /* Variáveis da cor verde */
    --verde-azulado: #009a9f;
    --verde: #30EA66;

    --amarelo: #FCBF02;
    --cinza-clarinho: #F8F8F8;
    --azul-claro: #6E93f7;
    --azul-claro2: #4070F4;



    /* Variável da cor cinza */
    --cinza: #424242;
    --cinza-claro: #F2F2F2;
    --cinza-medio: #A9A9A9;
    --cinza-dark: #333333;
    --cinza-escuro: #171717;

    /* Variáveis das fontes */
    --Roboto: 'Roboto', sans-serif;
    --Allura: 'Allura', sans-serif;
    --Rubik: 'Rubik Scribble';
    --Kalam: 'Kalam';
    --Titillium: 'Titillium Web';
    --Poppins: 'Poppins';
    --Livvic: 'Livvic';
}

/* ======================= Cabeçalho =======================  */

  
  .nav {
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 4;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.081);
}
  
  .logo img {    
    width: 240px;
    /* largura da logotipo */
    height: auto;
    /* Altura da logotipo */
    transition: .7s ease;
    margin-left: 60px;
  }
  .logo img:hover {
    transform: scale(1.03);
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-right: 60px;
  }
  
  .nav-list a {
    font-size: 18px;
    color: black;
    padding-block: 16px;
  }
  

  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid black;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: white;
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

/* ======================= Fim Cabeçalho =======================  */


/* ======================= Carrossel Banner ======================== */
.slider {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100vw;
    left: 0;
    position: relative;
    transition: 1s;
}

.slide img {
    /* Sempre levar em consideração o tamanho original da imagem e da tela */
    height: 100%;
    width: 100vw;
}

.manual-navigation {
    position: absolute;
    width: 100vw;
    margin-top: -7vh;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2.3px solid white;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: .7s;
}

.manual-btn:not(:last-child) {
    margin-right: 2vw;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {

    margin-left: -100vw;
}

#radio3:checked~.first {
    margin-left: -200vw;
}

#radio4:checked~.first {
    margin-left: -300vw;
}

.navigation-auto div {
    border: 2.3px solid white;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: .7s;
}

.navigation-auto {
    position: absolute;
    width: 100vw;
    margin-top: 93vh;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 2vw;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: white;
}

.texto_sobreposto {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 59%);
}

.texto_sobreposto img {
    width: auto;
    height: 60vh;
    padding-right: 70px;
    margin-top: 20px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.515));
    /* Sombra da imagem alpha */
}

.texto_sobreposto h1 {
    width: 50%;
    font: 500 3vw var(--Roboto);
    color: white;
    margin-left: 40px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.259);
    line-height: 1.5em;    
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
    /* Espçamento do Parágrafo */
}
  
  @keyframes slidein {
    from {
      margin-bottom: 100%;
      width: 300%;
    }
  
    to {
        margin-bottom: 0%;
      margin-left: 40px;
      width: 100%;
    }
  }
  

.btn {
    padding: 10px 20px 10px 60px;
    border-radius: 25px;
    /* Raio da borda do botão */
    border-style: none;
    /* Remover borda do botão */
    background-color: var(--índigo_blue);
    font: 300 18px var(--Roboto);
    color: white;
}

.btn,
.botao i {
    position: absolute;
    top: 65%;
    margin-left: 40px;
    font-size: 18px;
    transition: all .7s;
    /* Todas as transições do botão durará 7 segundos */
}

.botao {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.259);
}

.btn:hover {
    background-color: white;
    color: var(--índigo_blue);
}


.botao i {
    padding: 13px;
    border-radius: 50% 0 50% 50%;
    background-color: white;
    color: var(--índigo_blue);
    z-index: 1;
}

.linha {
    position: absolute;
    top: 71%;
    right: 26vw;
    z-index: -1;
    display: flex;
    align-items: center;
}

.linha hr {
    width: 30vw;
    border-top: 5px solid white;
    position: relative;
}

.linha span {
    position: absolute;
}


.linha i {
    color: white;
}
@media (max-width:720px){
    nav{
     top: 0;
    }
    
    .banner1{
     display: none;
    }
    .texto_sobreposto{
     display: block; position: relative;
     width: 100%; height:50vh;
    }
    .texto_sobreposto h1{
     display:none;
    }
   .btn, .botao{
     display: none;
    }
    .texto_sobreposto img{
     width: 100%;
     height: auto;
     position: relative;
     top: 0;
     padding: 0;
     top: 30px;
    }
   }

/* ======================= Fim Carrossel Banner ======================== */

.Nossos_compromissos {
    position: relative;
    height: 550px;
}
@media (max-width:720px){
 nav{
  top: 0;
 }
 
 .banner1{
  display: none;
 }
 .texto_sobreposto{
  display: block; position: relative;
  width: 100%; height:50vh;
 }
 .texto_sobreposto h1{
  display:none;
 }
.btn, .botao{
  display: none;
 }
 .texto_sobreposto img{
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  padding: 0;
 }
 .proposito{
  flex: collumn;
 }
}


/* ========================== Carrossel Diferenciais ========================== */
.mySwiper{
    height: auto;
}

.swiper {
    width: 76%;
    height: 50%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 255px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* ========================== Carrossel Diferenciais ========================== */
.intro_compromissos {
    display: flex;
    align-items: center;
    height: 70%;
    background-color: var(--space);
}

.flex-intro{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 767px){
    .flex-intro{
        flex-direction: column;
    }
    .swiper {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}
.intro_compromissos h1 {
    color: white;
    font: 700 40px var(--Titillium);
}


.intro_compromissos button {
    padding: 15px 35px;
    background-color: white;
    color: var(--sapphire_blue);
    border-style: none;
    border-radius: 3px;
    margin: 20px 0;
    font: 700 17px var(--Titillium);
}


#icon img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;

}

#icon {
    padding: 20px;
    width: 250px;
    height: 238px;
    justify-content: center;
    background-color: white;
    position: relative;
    align-items: center;
    display: flex;
    transition: all 1.5s;
    flex-direction: column;    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    border-bottom: 3px solid var(--prussian_blue);
}

#icon span{
    font: 600 24px var(--Titillium);
    color: var(--space);
}

#icon:hover{
    transform: scale(1.02);
}

.icon1::after {
    content: "Diferentes soluções para cada situação";
}

.icon2::after {
    content: "Suporte Especializado";
}

.icon3::after {
    content: "Orçamento em Domicílio";
}

.icon4::after {
    content: "Garantia de Qualidade";
}


.icon1::after,
.icon2::after,
.icon3::after,
.icon4::after {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .7s ease-in-out;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font: 500 20px var(--Titillium);
}

.icon1:hover::after,
.icon2:hover::after,
.icon3:hover::after,
.icon4:hover::after {
    opacity: 1;
}


.texto_servico h2 {
    text-align: center;
    font: bolder 40px var(--Titillium);
    color: var(--índigo_blue);
    margin: 20px 0
}

.solucoes {
    display: flex;
    justify-content: left;
    margin: 0 70px;
    align-items: center;
}

/* ======================= Seção Serviços ======================= */
.servicos{
    height: auto;
    padding-bottom: 40px;
}

.flex-servicos{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.flex-servicos img{
    width: auto;
    height: 545px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.126);
    
}
.flex-container{
    width: 570px;
    text-align: justify;
    margin: 25px;
}
.container-text{
    width: 100%;
}
.container-text h2{
    font: 600 22px var(--Livvic);
    margin-bottom: 5px;
}

.container-text p{
    font: 400 19px var(--Livvic);
    line-height: 1.75em;
    padding-bottom: 15px;
}
.container-text.last p{
    padding-bottom: 0;
}


/* ===================== Fim Seção Serviços ====================== */


/* ======================= Paralalax ======================================== */
.container-wrapper{
    width: 100%;
    margin: 0 auto;
}
section.module span{
    font: 400 12px 'Poppins';    
    letter-spacing: .340em;
    text-transform: uppercase;
    color: white;
    margin: 0 auto 10px auto;
    z-index: 2;
}
section.module h1{
    font: 700 40px var(--Titillium);
    color: white;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
}
section.module button{
    margin: 45px auto 0 auto;
    color: var(--cinza-dark);
    background-color: var(--amarelo);
    padding: 23px 36px;
    z-index: 2;
    border: 1px solid transparent;
    transition: all .5s;
    font: 400 14px var(--Poppins);    
    letter-spacing: 5px;
}
section.module button:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}



section.module:last-child{
    margin-bottom: 0;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh ;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50% ;
    background-repeat: no-repeat;
    background-attachment: fixed; /* cria o efeito parallax */
    background-size: cover;
    -webkit-background-size:cover ; /* para ser funcional em outros navegadores */
    -moz-background-size: cover;
    -a-background-size:cover;

}
section.module.parallax::after{
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, #00000094 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0% #00000094 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #00000094 100%);
}

section.module.parallax{
    background-image: url(../img/parallax.png);
}







details {
    padding: 20px;
    margin: 5px;
}

.faq hr {
    margin: 0 10px;
    border-top: 2px solid #ECECEC;

}

.faq {
    margin: 20px 5vw 60px;
    font: bolder 27px var(--Roboto);
    color: var(--índigo_blue);
}

.summary_faq {
    background-color: var(--cinza-claro);
    border: solid 1px #F0F0F0;
    border-radius: 25px;
    cursor: pointer;
}






details summary {
    font: normal 18px var(--Roboto);
    color: var(--cinza);
}

details i {
    margin-right: 20px;
    color: var(--cinza-medio);
    transition: 1s ease;
}

details p {
    padding: 20px;
    font: normal 16px var(--Roboto);
    text-align: justify;
    line-height: 1.5em;
}

details ol {
    padding: 35px;
    list-style-type: none;
}

details ol li {
    list-style: decimal;
    font-size: 16px;
}

details ol li p {
    padding: 5px 0;
    line-height: 1.5em;
    text-align: justify;
}

.text_faq {
    text-align: center;
    padding: 20px;
    color: var(--cinza-dark);
}


.container {
    background-color: var(--azure);
    width: 100%;
}

.logos {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.logos ul {
    display: flex;
    align-items: center;
    gap: 60px;
    animation: 20s infinite slide linear;
    /* Animação linear infinita de 20 segundos */
}

.logos img {
    width: 70px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1040px);
    }
}

.whatsapp {
    position: fixed;
    z-index: 3;
    font-size: 40px;
    color: white;
    top: 85%;
    left: 92%;
    filter: drop-shadow(0 0 10px #30ea653d);
    transition: all .3s;
}

.whatsapp i {
    background-color: var(--verde);
    padding: 15px;
    border-radius: 100%;
    transition: all .3s;
}

.rodape {
    background-image: url(../img/footer.png);
    top: -200px;
    padding: 30px;
    align-items: center;
}

.whatsapp:hover {
    transform: scale(1.05);
}

.socials_fw {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.socials_fw ul a li i {
    background-color: rgba(255, 255, 255, 0);
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 50px;
    transition: all .3s;
}

.socials_fw ul a li i:hover {
    transform: scale(1.03);
    color: var(--índigo_blue);
    background-color: white;
}


.adicionais {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 15px;
    align-items: center;
}

.adicionais a h3 {
    font: normal 16px var(--Allura);
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    padding-bottom: 2px;
    transition: all .3s;
}

.adicionais h3:hover {
    border-bottom: 1px solid white;

}

.adicionais span {
    width: 10px;
    height: 10px;
    background-color: var(--índigo_blue);
    border-radius: 50%;
}


.copyright p {
    text-align: center;
    padding-top: 20px;
    color: white;
    font: normal 14px var(--Allura);
}